<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="font-size: 1.5rem; font-family: Helvetica, sans-serif;">
      Reservation status: cancelled
    </h1>
    
    <div style="font-family: Helvetica, sans-serif;">
      <p>Reservation for <em><%= @movie.title %> </em> was cancelled due to payment deadline!</p>

      <p>See you next time!</p>
    </div>
  </body>
</html>